/* header section start */

.background1{
 background: linear-gradient(rgba(39, 38, 38, 0.5), rgba(68, 64, 64, 0.5)), url(Banner\ Image.png) center/cover no-repeat;

text-align: center;
  height: 600px; 
  display: flex;
  align-items: center;
  justify-content: center;

  filter: brightness(0.7);
  
  border-radius: 12px;
  


}




.banner-text {

  display: flex;
  justify-content: center;
  align-items: center;


}

.text-1 {
 color: #ffffff;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.text-2 {
color: #fffefe;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}
/* header section of */


/*  start */
.discount-section{
display: flex;
justify-content: center;
margin-left: 180px;
margin-right: 140px;
}
  
/*discount 65% of */


/* welcome start */

.welcome {
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Vectorrr.png) center/cover no-repeat;
  text-align: center;
    height: 600px; /* Adjust the height of the banner */
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0.7);
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 12px;

}



.welcome-text {





  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.off-text {


  color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.best-offer {

  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}


.best-offer-pic {

  border: solid 13px #F00;
  border-radius: 50%;
  margin: 50px;
  
}


.portfolio {



  display: grid;
  grid-template-columns: auto auto auto;
column-gap: 48px;
row-gap: 48px;
width: 100%;
justify-content: center;
}

.portfolio-pic {
  width: 324px;






}

.button-primary {


  background-color: #F00;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 8px;
}